apiVersion: v1
kind: ConfigMap
metadata:
  name: casc-jobdsl-seed-config
  namespace: jenkins
data:
  seed.groovy: |
    import org.yaml.snakeyaml.Yaml
    import jenkins.model.*
    
    def yaml = new Yaml()
    def root = Jenkins.instance.root
    
    def goCfg = yaml.load(new File(root, "project/projects-go.yaml").text)
    goCfg.projects.each { p ->
      evaluate new File(root, "jobdsl/go/go.groovy").text, [
        name: p.name,
        port: p.port,
        repo: p.repo
      ]
    }
    
    def reactCfg = yaml.load(new File(root, "project/projects-react.yaml").text)
    reactCfg.projects.each { p ->
      evaluate new File(root, "jobdsl/react/react.groovy").text, [
        name: p.name,
        repo: p.repo
      ]
    }
