apiVersion: v1
kind: ConfigMap
metadata:
  name: casc-jobdsl-go-config
  namespace: jenkins
data:
  go.groovy: |
    def cfg = binding.variables

    pipelineJob("DEVELOPMENT/${cfg.name}") {
      definition {
        cps {
          sandbox(true)
          script("""
            pipeline {
              agent any
              environment {
                APP_NAME = '${cfg.name}'
                APP_PORT = '${cfg.port}'
              }
              stages {
                stage('Checkout') {
                  steps {
                    git '${cfg.repo}'
                  }
                }
                stage('Build') {
                  steps {
                    sh 'go build ./...'
                  }
                }
                stage('Deploy') {
                  steps {
                    sh 'echo Deploy ${cfg.name} on port ${cfg.port}'
                  }
                }
              }
            }
          """)
        }
      }
    }
