apiVersion: v1
kind: ConfigMap
metadata:
  name: casc-jobs-go-config
  namespace: jenkins
data:
  casc-jobs-go.yaml: |
    jobs:
      - script: |
          pipelineJob('go-pipeline') {
            description('CI/CD Pipeline for Go application')
    
            definition {
              cps {
                sandbox(true)
                script("""
                  pipeline {
                    agent any
    
                    environment {
                      GO111MODULE = 'on'
                    }
    
                    stages {
                      stage('Checkout') {
                        steps {
                          git branch: 'main',
                              url: 'https://github.com/example/go-app.git'
                        }
                      }
    
                      stage('Build') {
                        steps {
                          sh 'go build ./...'
                        }
                      }
    
                      stage('Test') {
                        steps {
                          sh 'go test ./...'
                        }
                      }
                    }
                  }
                """)
              }
            }
          }