apiVersion: v1
kind: ConfigMap
metadata:
  name: casc-jenkins-config
  namespace: jenkins
data:
  casc-jenkins.yaml: |
    jenkins:
      systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin"

      securityRealm:
        local:
          allowsSignup: false
          users:
            - id: admin
              password: admin
            - id: developer
              password: developer
            - id: viewer
              password: viewer
            - id: test
              password: test

      authorizationStrategy:
        projectMatrix:
          entries:
            - user:
                name: admin
                permissions:
                  - Overall/Administer
            - user:
                name: developer
                permissions:
                  - Overall/Read
                  - Job/Build
            - user:
                name: viewer
                permissions:
                  - Overall/Read
            - user:
                name: test
                permissions:
                  - Overall/Read

      # ⬇⬇⬇ INI YANG KAMU TAMBAHKAN ⬇⬇⬇
      clouds:
        - kubernetes:
            name: "kubernetes"
            serverUrl: "https://kubernetes.default"
            namespace: "jenkins"
            jenkinsUrl: "http://jenkins.jenkins.svc.cluster.local:8080"
            useWebSocket: true
            containerCapStr: "10"
