apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: jenkins
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path:   /
    prometheus.io/port:   '8080'
spec:
  type: ClusterIP
  selector:
    app: jenkins-server
  ports:
    - name: http
      port: 8080
      targetPort: 8080